// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.smallpic{
	max-width: 300px;
}

.bio{
	background-color: #FFFFCC;
	border-radius: 10px;
}
.employee{
	text-align:center;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}
